<link rel="stylesheet" href="/stylesheets/admin/adminProducts.css">
<%- include('../../../partials/adminHeaders') %>

    <section>
        <div class="container">
            <div class="subHead">
                <a type="button" href="/admin/addProduct" class="btn btn-info ml-auto addButton">Add Product</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col" class="tno">No</th>
                            <th scope="col" class="thead">Image</th>
                            <th scope="col" class="ttitle">Tittle</th>
                            <th scope="col" class="thead">Category</th>
                            <th scope="col" class="thead">SubCat.</th>
                            <th scope="col" class="thead">Size</th>
                            <th scope="col" class="thead">Price</th>
                            <th scope="col" class="thead">Cat.Offer</th>
                            <th scope="col" class="thead">Offer Price</th>
                            <th scope="col" class="thead">Offer</th>
                            <th scope="col" class="thead">Status</th>
                            <th scope="col" class="thead">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((product, index)=> { %>
                            <tr>
                                <th scope="row">
                                    <%= index + 1 %>
                                </th>
                                <td><img style="width: 50px;" src="/<%= product.image %>" alt="product"></td>
                                <td>
                                    <%= product.name%>
                                </td>
                                <td>
                                    <%= product.category%>
                                </td>
                                <td>
                                    <%= product.subCategory%>
                                </td>
                                <td>
                                    <%= product.size%>
                                </td>
                                <td>
                                    ₹ <%= product.price%>
                                </td>
                                <td>
                                    <%= product.categoryOffer %>%
                                </td>
                                <td>
                                    ₹ <%= product.offerPrice%>
                                </td>                               
                                <td>
                                    <div class="d-flex">
                                    <p><%= product.productOffer%> %</p>   
                                    <a class="ml-3" href="/admin/products/offer/<%= product._id%>" >
                                        <img src="/images/navbar/edit.png" alt="edit" style="width: 1rem;">
                                    </a> 
                                </div>                                
                                </td>
                                <td>
                                    <% if (product.isDeleted===true) { %>
                                        <p>Deleted<a class="ml-2"
                                                onclick="undoProductDelete('<%= product._id%>','<%= product.name%>','<%= product.isDeleted%>')"><img
                                                    src="/images/navbar/undo.png" alt="edit" style="width: 1rem;"
                                                    id="undoProductDlt"></a></p>
                                        <%} else{ %>
                                            <div class="d-flex">
                                                <p>Available</p>
                                                <a class="ml-2" onclick="deleteProduct('<%= product._id %>','<%= product.name%>')"><img
                                                        style="width: 1.2rem;" src="/images/navbar/delete.png"
                                                        alt="delete"></a>
                                            </div>
                                            <% } %>
                                </td>
                              
                                <td><a href="/admin/products/<%= product._id %>"><img src="/images/navbar/edit.png"
                                            alt="edit" style="width: 1rem;"></a> </td>
                                
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <%- include('../../../partials/loginsFooter') %>
        <script src="/javascripts/admin/productDlt.js"></script>