<link rel="stylesheet" href="/stylesheets/admin/adminProducts.css">
<%- include('../partials/adminHeaders') %>
    <% var count=1; %>
        <section>
            <div class="container">
                <div class="subHead">
                    <a type="button" href="/admin/addCategory" class="btn btn-info ml-auto addButton"
                        style="width: 7.5rem;">Add Category</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Category</th>
                                <th scope="col">SubCategory</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var slNo = 1; %>
                            <% categories.forEach((category) => { %>
                                <% category.subCategory.forEach((subcategory, index) => { %>
                                    <tr>
                                        <% if (index === 0) { %>                                            
                                            <th scope="row" rowspan="<%= category.subCategory.length %>">
                                                <%= slNo %>
                                            </th>
                                            <td rowspan="<%= category.subCategory.length %>">
                                                <%= category.category %>
                                            </td>
                                        <% } %>
                                        <td>
                                            <%= subcategory.name %>
                                        </td>
                                        <td>                                            
                                            <% if (subcategory.isDeleted) { %>
                                              <p>Deleted <a onclick="undoSubcategoryDelete('<%= subcategory.isDeleted%>',' <%= subcategory.name %>')">
                                                    <img src="/images/navbar/undo.png" alt="edit" style="width: 1rem;">
                                                </a></p> 
                                            <% }else{ %>
                                                <p>Available</p>
                                                <% } %>%>
                                        </td>
                                        <td>
                                            <a href="/admin/<%= category.category %>/<%= subcategory.name %>">
                                                <img style="width: 1.2rem;" src="/images/navbar/edit.png" alt="edit">
                                            </a>
                                        </td>
                                        <td>
                                            <a onclick="deleteCategory('<%= subcategory.name %>')">
                                                <img style="width: 1.2rem;" src="/images/navbar/delete.png" alt="delete">
                                            </a>
                                        </td>
                                    </tr>                                   
                                <% }); %>
                                <% slNo++; %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <%- include('../partials/loginsFooter') %>
        <script src="/javascripts/admin/categoryDlt.js"></script>
