<link rel="stylesheet" href="/stylesheets/users/orderDetails.css">

<%- include('../partials/adminHeaders') %>

    <section class="orderpage">
        <div class="pageHead">
            <h2>Order Details</h2>
            <div class="d-flex ">
                <p class="headp">Ordered on <%= new Date(order.createdAt).toLocaleDateString('en-US', { month: 'short' ,
                        day: 'numeric' , year: 'numeric' }) %>
                </p>
                <hr class="horizontal-line">
                <p class="headp">Order #<%= order._id %>
                </p>
            </div>
            <hr>
        </div>
        <div class="ordercontainer">
            <div class="orderSctn">
                <div class="d-flex flex-column order">
                    <div class="d-flex justify-content-between orderHeadSctn">

                        <div>
                            <div class="d-flex flex-column orderHeadSub">
                                <p class="subHead">Shipping Address</p>
                                <p>
                                    <%= order.billingAddress[0].name %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].phone %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].address %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].town %> , <%= order.billingAddress[0].pincode %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].state %>
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex flex-column">
                                <p class="subHead">Payment Method</p>
                                <p>
                                    <%= order.paymentMethod %>
                                </p>

                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <p class="subHead">User</p>
                                <p>
                                    <%= order.userId.name%>
                                </p>
                                <p>
                                    <%= order.userId.phone%>
                                </p>
                                <p>
                                    <%= order.userId.email%>
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="d-flex flex-column">
                                <p class="subHead">Order Summary</p>
                                <div class="d-flex justify-content-between">
                                    <p>Item(s) Subtotal: </p>
                                    <p>₹ <%= order.totalAmount %>/-</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Shipping: </p>
                                    <p>₹ 40 /-</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Promotion Applied: </p>
                                    <p>-₹ 00 /-</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="subHead">Grand Total: </p>
                                    <p class="subHead">-₹ <%= order.totalAmount %> /-</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-2 prodctSctn">
                        <% order.products.forEach(product=> { %>
                            <div class="d-flex flex-wrap">
                                <div class="d-flex flex-column justify-content-center align-items-center">

                                    <a href="/products/<%= product.product._id %>">
                                        <img class="prodImg" src="/<%= product.product.image %>" alt="orderproduct">
                                    </a>
                                    <div>
                                        <p class="prodName">
                                            <%= product.product.name %>
                                        </p>
                                        <p class="prodName">
                                            ₹ <%= product.product.price %>/-
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <div>
                                    <p class="prodName">Order Status</p>
                                    <p>Order: <%= order.orderStatus %>
                                    </p>
                                    <% if (order.orderStatus==='placed' ) { %>
                                        <p>Estimated delivery :
                                            <%= order.estimatedDelivery %>
                                        </p>
                                        <% } %>
                                </div>
                    </div>
                </div>
            </div>
        </div> <br><br><br><br><br>
    </section>