<link rel="stylesheet" href="/stylesheets/users/profile.css">
<link rel="stylesheet" href="/stylesheets/users/coupon.css">

<%- include('../../partials/headers/homeHeader',{ totalCartProduct: totalCartProduct}) %>
    <%- include('../../partials/subHeader',allCategories) %>

        <section class="profilepage">
            <div class="pageHead">
                <h2>Your Coupons</h2>
                <p>You can view your coupons here</p>
                <hr>
            </div>
            <div class="d-flex justify-content-around align-items-center flex-wrap couponSection">
                <% if (coupons && coupons.length> 0) { %>
                    <% coupons.forEach(coupon=>{%>
                        <% if (coupon.isValid && new Date(coupon.couponDeactivatingDate) > new Date()) { %>
                        <div class="card ml-4 mt-3">
                            <div class="main">
                                <div class="co-img">
                                    <img src="/images/navbar/logo.png" alt="logo">
                                </div>
                                <div class="vertical ml-3"></div>
                                <div class="content">
                                    <p class="TriocartTxt">TrioCarts</p>
                                    <p class="nameTxt">
                                        <%= coupon.name %>
                                    </p>
                                    <p class="descriptionTxt">
                                        <%= coupon.description %>
                                    </p>
                                    <% if (!user.coupon || !user.coupon.includes(coupon._id)) { %>
                                        <p class="discountCoupon">Enjoy Coupon !!!</p>
                                        <% } else { %>
                                            <p class="usedCoupon">x Coupon Used x</p>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% }) %>
                            <% } else { %>
                                <div class="card ml-4">
                                    <div class="main">
                                        <div class="content">
                                            <p>No coupons yet</p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
            </div>
            <br><br><br><br><br><br><br>
        </section>
        <%- include('../../partials/footer') %>