<link rel="stylesheet" href="/stylesheets/users/profile.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<%- include('../../partials/headers/homeHeader',{ totalCartProduct: totalCartProduct}) %>
    <%- include('../../partials/subHeader',allCategories) %>

        <section class="profilepage">
            <div class="pageHead">
                <h2>Your profile</h2>
                <p>You can manage your profile here</p>
                <hr>
            </div>
            <!-- my details -->
            <div class="profilecontainer">
                <div class="mydetailSctn">
                    <div class="d-flex justify-content-between">
                        <p class="subHead">My details</p>
                        <p class="edit" onclick="editMyDetails()">Edit</a>
                    </div>
                    <div class="readonlyDetails">
                        <p class="mt-2">Name</p>
                        <p class="userDetail">
                            <%= user.name %>
                        </p>
                        <p class="mt-2">Phone</p>
                        <p class="userDetail">
                            <%= user.phone %>
                        </p>
                        <p class="mt-2">Email</p>
                        <p class="userDetail">
                            <%= user.email %>
                        </p>
                        <p class="mt-2">Referral Code:</p>
                        <p class="userDetail">
                            <%= user.referralCode.name %>
                        </p>
                        <% if (user.referralCode.isValid) { %>
                            <p class="referralTxt mt-2">Share your referral code and get a discount for the first
                                reference!
                            </p>
                            <% } else { %>
                                <p class="referralTxt">You've already been referred. Enjoy your cashback!</p>
                                <% } %>
                    </div>
                    <hr><br>
                    <!-- editing mydetails -->
                    <div class="editableDetails" style="display: none;">
                        <p class="subHeadEdit">Edit your Details</p>
                        <label class="label mt-3" for="name">Name<span class="required">*</span></label>
                        <input type="text" class="form-control" name="name" id="name_profile"
                            placeholder="Enter your name" onclick="clearSpan('name_profileSpan')" onblur="checkName()"
                            value="<%= user.name %>">
                        <span id="name_profileSpan" class="span"></span><br>

                        <label class="label" for="email">Email<span class="required">*</span></label>
                        <input type="email" class="form-control" name="email" id="email_profile"
                            placeholder="Enter you email" onclick="clearSpan('email_profileSpan')" onblur="checkEmail()"
                            value=" <%= user.email %>">
                        <span id="email_profileSpan" class="span"></span><br>

                        <label class="label" for="phone">Phone number<span class="required">*</span></label>
                        <input type="text" class="form-control" name="phone" id="phone__profile"
                            placeholder="Enter your contact number" onclick="clearSpan('phone_profileSpan')"
                            onblur="checkValidPhone()" value="<%= user.phone %>">
                        <span id="phone_profileSpan" class="span"></span><br>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn btn-dark save "
                                onclick="verifyUser('<%= user.email %>')">Save</button>
                            <a href="/profile" type="button" class="btn btn-outline-dark save mt-3">Cancel</a>
                        </div>
                    </div>
                    <!-- verification -->
                    <div class=" d-flex flex-column justify-content-center align-items-center verify"
                        style="display: none !important;">
                        <div class="login-form">
                            <h2 class="verifyHead">Verification required</h2>
                            <p style="font-size: 0.8rem;">We've sent an
                                OTP to your email.
                                Please enter it below to complete verification.</p>

                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <input type="text" class="save mt-3" id="otp" placeholder="Enter Otp">
                            </div>
                            <div class="resnd mt-3" id="resndTimer">Resend OTP in: <span id="timer"></span></div>

                            <hr class="dividngLine">
                            <a onclick="resendOtp()" class="resndTxt" id="resentTxt">resend OTP</a>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <button class="btn btn-dark save  mt-4" type="button" id="signin_button"
                                    onclick="updateProfile('<%= user._id %>')">Verify</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- my wallet -->
            <div class="profilecontainer mt-4">
                <div class="mydetailSctn">
                    <p class="subHead">My Wallet</p>
                    <p class="mt-3" id="addReferralCode" onclick="getAddReferrlSection()">+ Add a referal code</p>
                    <p class="walletToggle mt-4" id="walletToggle" onclick="toggleWalletHistory()">Show wallet
                        history</a>
                        <hr>
                        <!-- add referral code -->
                    <div class="referralContainer" style="display: none;">
                        <div class="mydetailSctn">
                            <div class="d-flex justify-content-between">
                                <p class="subHead">Earn Cashback with Every Referral Code!</p>
                            </div>
                            <div class="addReferralCode">
                                <label class="label mt-3" for="name">Enter Referral Code<span
                                        class="required">*</span></label>
                                <input type="text" class="form-control" name="referralCode" id="referralCode"
                                    placeholder="Enter Referral Code" onclick="clearSpan('referralCodeSpan')">
                                <span id="referralCodeSpan" class="span"></span><br>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <button type="button" class="btn btn-dark save "
                                        onclick="addReferralCode('<%= user.email %>')">Apply Referral Code</button>
                                    <p onclick="cancelReferring()" type="button" class="btn btn-outline-dark save mt-3">
                                        Cancel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- wallet history -->
                    <div class="displayWallet">
                        <table class="table">
                            <thead class="thead-dark sticky-top">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% walletDetails.forEach((wallet) => { %>
                                    <% wallet.transactions.forEach((walletItem,index) => { %>                                       
                                        <tr>
                                            <th scope="row">
                                                <%= index+1 %>
                                            </th>
                                            <td>
                                                <%= walletItem.createdAt.toDateString() %>
                                            </td>
                                            <td>
                                                <% if (walletItem.status === 'Debited') { %>
                                                    <p class="referralTxt" style="color: red;">
                                                        <%= walletItem.status %>
                                                    </p>
                                                <% } else { %>
                                                    <p class="referralTxt" style="color: green;">
                                                        <%= walletItem.status %>
                                                    </p>
                                                <% } %>
                                            </td>
                                            <td>
                                                ₹ <%= walletItem.amount %>/-
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% }) %>
                            </tbody>
                            
                        </table>


                    </div>

                </div>
            </div>

            <!-- address book -->
            <div class="profilecontainer mt-4">
                <div class="mydetailSctn">
                    <p class="subHead">Address Book</p>
                    <div class="readonly">
                        <% user.billingAddress.forEach(address=> { %>
                            <div class="readonly mt-4">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        <p>
                                            Name: <%= address.name %>
                                        </p>
                                        <div>
                                            <img src="/images/navbar/edit.png" class="pointerCursor"
                                                style="width: 1rem;" alt="edit" onclick="editBillingAdress('<%= address._id %>','name_addressEdit',
                                                'phone_addressEdit','address_addressEdit','town_addressEdit',
                                                'pincode_addressEdit','state_addressEdit')">
                                            <img src="/images/navbar/delete.png" style="width: 1rem;" alt="edit"
                                                class="ml-4 pointerCursor"
                                                onclick="deleteBillingAdress('<%= address._id %>')">
                                        </div>

                                    </div>
                                    <p class="normalTxt">Phone: <%= address.phone %>
                                    </p>
                                    <p class="normalTxt">Address: <%= address.address %>
                                    </p>
                                    <p class="normalTxt">Town/City: <%= address.town %>
                                    </p>
                                    <p class="normalTxt">Pincode: <%= address.pincode %>
                                    </p>
                                    <p class="normalTxt">State: <%= address.state %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <hr>
                    <!-- add address -->
                    <p class="addAddress" id="addTxt" onclick="addAddress()">+ Add address</p>
                    <div class="addAddress" style="display: none;">
                        <div>
                            <label class="mt-3 label" for="name">Name <span class="required">*</span></label>
                            <input onclick="clearSpan('name_addressAddSpan');clearValidity('name_addressAdd')"
                                onblur="ifValidField('name_addressAdd','name')" type="text" id="name_addressAdd"
                                class="form-control" name="'name" aria-describedby="addressHelpBlock">
                            <span id="name_addressAddSpan" class="span"></span><br>
                            <!--  -->
                            <label class="label" for="phone">Phone number <span class="required">*</span></label>
                            <input type="text" class="form-control" name="phone" id="phone_addressAdd"
                                onclick="clearSpan('phone_addressAddSpan');clearValidity('phone_addressAdd')"
                                onblur="checkPhone('phone_addressAdd','phone number')">
                            <span id="phone_addressAddSpan" class="span"></span><br>
                            <!--  -->
                            <label class="label" for="address">Address <span class="required">*</span></label>
                            <input onclick="clearSpan('address_addressAddSpan');clearValidity('address_addressAdd')"
                                onblur="checkAddress('address_addressAdd','address')" type="text"
                                id="address_addressAdd" class="form-control" name="address"
                                aria-describedby="addressHelpBlock">
                            <div class="d-flex flex-column">
                                <small class="form-text text-muted">
                                    Street address
                                </small>
                                <span id="address_addressAddSpan" class="span"></span>
                            </div>


                            <!--  -->
                            <label class="mt-3 label" for="town">Town/City <span class="required">*</span></label>
                            <input onclick="clearSpan('town_addressAddSpan');clearValidity('town_addressAdd')"
                                onblur="ifValidField('town_addressAdd','town/city')" type="text" id="town_addressAdd"
                                class="form-control" name="town" aria-describedby="passwordHelpBlock">
                            <div class="d-flex flex-column">
                                <small class="form-text text-muted">
                                    Enter a town/city
                                </small>
                                <span id="town_addressAddSpan" class="span"></span>
                            </div>


                            <!--  -->
                            <label class="mt-3 label" for="pincode">Pincode <span class="required">*</span></label>
                            <input onclick="clearSpan('pincode_addressAddSpan');clearValidity('pincode_addressAdd')"
                                onblur="checkPincode('pincode_addressAdd','pincode')" type="text"
                                id="pincode_addressAdd" class="form-control" name="pincode"
                                aria-describedby="passwordHelpBlock">

                            <div class="d-flex flex-column">
                                <small id="pincodeMute" class="form-text text-muted">
                                    Please enter a pincode (400070)
                                </small>
                                <span id="pincode_addressAddSpan" class="span"></span>
                            </div>
                            <!--  -->
                            <label class="mt-3 label" for="state">State <span class="required">*</span></label>
                            <select name="state" id="state_addressAdd" class="form-control">
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                </option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn btn-dark save mt-3"
                                onclick="saveBillingAddress('<%= user._id %>','name_addressAdd','phone_addressAdd',
                                'address_addressAdd','town_addressAdd','pincode_addressAdd','state_addressAdd')">Save</button>
                            <a href="/checkout" type="button" class="btn btn-outline-dark save mt-3">Cancel</a>
                        </div>
                    </div>

                    <!-- edit billingaddress -->
                    <div class="editable" style="display: none;">
                        <p class="darkHeads">Enter your billing address</p>
                        <div>
                            <label class="mt-3 label" for="name">Name <span class="required">*</span></label>
                            <input onclick="clearSpan('name_addressEditSpan');clearValidity('name_addressEdit')"
                                onblur="ifValidField('name_addressEdit','name')" type="text" id="name_addressEdit"
                                class="form-control" name="'name" aria-describedby="addressHelpBlock">
                            <span id="name_addressEditSpan" class="span"></span><br>

                            <!-- phone -->
                            <label class="label" for="phone">Phone number <span class="required">*</span></label>
                            <input type="text" class="form-control" name="phone" id="phone_addressEdit"
                                onclick="clearSpan('phone_addressEditSpan');clearValidity('phone_addressEdit')"
                                onblur="checkPhone('phone_addressEdit','phone')">
                            <span id="phone_addressEditSpan" class="span"></span><br>

                            <!-- address -->
                            <label class="label" for="address">Address <span class="required">*</span></label>
                            <input onclick="clearSpan('address_addressEditSpan');clearValidity('address_addressEdit')"
                                onblur="checkAddress('address_addressEdit','address')" type="text"
                                id="address_addressEdit" class="form-control" name="address"
                                aria-describedby="addressHelpBlock">
                            <div class="d-flex flex-column">
                                <small class="form-text text-muted">
                                    Street address
                                </small>
                                <span id="address_addressEditSpan" class="span"></span>
                            </div>

                            <!-- town/city -->
                            <label class="mt-3 label" for="town">Town/City <span class="required">*</span></label>
                            <input onclick="clearSpan('town_addressEditSpan');clearValidity('town_addressEdit')"
                                onblur="ifValidField('town_addressEdit','town/city')" type="text" id="town_addressEdit"
                                class="form-control" name="town" aria-describedby="passwordHelpBlock">
                            <div class="d-flex flex-column">
                                <small class="form-text text-muted">
                                    Enter a town/city
                                </small>
                                <span id="town_addressEditSpan" class="span"></span>
                            </div>


                            <!-- pincode -->
                            <label class="mt-3 label" for="pincode">Pincode <span class="required">*</span></label>
                            <input onclick="clearSpan('pincode_addressEditSpan');clearValidity('pincode_addressEdit')"
                                onblur="checkPincode('pincode_addressEdit','pincode')" type="text"
                                id="pincode_addressEdit" class="form-control" name="pincode"
                                aria-describedby="passwordHelpBlock">

                            <div class="d-flex flex-column">
                                <small id="pincodeMute" class="form-text text-muted">
                                    Please enter a pincode (400070)
                                </small>
                                <span id="pincode_addressEditSpan" class="span"></span>
                            </div>
                            <!--  -->
                            <label class="mt-3 label" for="state">State <span class="required">*</span></label>
                            <select name="state" id="state_addressEdit" class="form-control" value>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                </option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn btn-dark save mt-4"
                                onclick="updateBillingAddress('name_addressEdit','phone_addressEdit','address_addressEdit','town_addressEdit','pincode_addressEdit','state_addressEdit')">Save</button>
                            <button onclick="cancelEditAddress()" type="button"
                                class="btn btn-outline-dark save mt-3">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- password section -->
            <div class="profilecontainer mt-4">
                <div class="mydetailSctn">
                    <p class="subHead">Privacy</p>
                    <p class="edit" id="changePassword" onclick="getPasswordChange()">Change password</a>
                        <hr>

                        <!-- change password -->
                    <div class="editablePassword" style="display: none;">
                        <p class="subHeadEdit">Change Password</p>
                        <div class="password-box">
                            <label class="label mt-3">
                                Current Password <span class="required">*</span>
                            </label>
                            <input type="password" class=" form-control" id="currntPassword"
                                placeholder="Enter your password" onclick="clearSpan('currntPasswordSpan')">
                            <span id="currntPasswordSpan" class="span"></span>
                            <button class="currntShow" type="button" id="currntPasswordToggle"
                                onclick="togglePassword('currntPassword')">Show</button>
                        </div>

                        <div class="password-box">
                            <label class="label mt-2">
                                Password <span class="required">*</span>
                            </label>
                            <input type="password" class=" form-control" id="password" placeholder="Enter your password"
                                onclick="clearSpan('passwordSpan')" onblur="isStrongPaswrd()">
                            <span id="passwordSpan" class="span"></span>
                            <button class="signupShow" type="button" id="passwordToggle"
                                onclick="togglePassword('password')">Show</button>
                        </div>

                        <!-- confirm password -->
                        <label class="label mt-2">
                            Confirm Password <span class="required">*</span>
                        </label>
                        <input type="password" class=" form-control" id="confrmPsswrd" aria-describedby="emailHelp"
                            placeholder=" Confirm password" onclick="clearSpan('confrmPsswrdSpan')">
                        <span id="confrmPsswrdSpan" class="span"></span>

                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <button type="button" class="btn btn-dark save"
                                onclick="changePassword(' <%= user._id %>')">Change</button>
                            <button onclick="cancelPasswordChange()" type="button"
                                class="btn btn-outline-dark save mt-3">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- modal--->
            <div class="modal" id="confirmationModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p class="alertTxt">Are you sure you want to delete this billing address?</p>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger"
                                onclick="confirmDeleteBillingAddress()">Delete</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <%- include('../../partials/footer') %>

            <script src="/javascripts/users/billingAddress.js"></script>
            <script src="/javascripts/users/profile.js"></script>
            <script src="/javascripts/users/referralCode.js"></script>