<link rel="stylesheet" href="/stylesheets/admin/adminDashboard.css">
<%- include('../../partials/headers/adminHeaders') %>
    <section>
        <div class="welcomeTxt">
            <h1 class="head">Welcome <%= admin.name %>
            </h1>
        </div>
        <div class="contents d-flex flex-column justify-content-center align-items-center">
            <div class="graphs">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <canvas id="ordersPerDay" class="lineGraph">Total Orders per day</canvas>
                    <p class="graphhead mt-4">This months Orders</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <canvas id="ordersTotalAmount" class="pieGraph"></canvas>
                    <p class="graphhead mt-4">This months earnings</p>
                </div>
            </div>
            <div class="overviewCard mt-4">
                <div class="d-flex justify-content-center align-items-center">
                    <p class="cardHead">Orders Placed :
                    <p>
                        <%= totalOrders %>
                    </p>
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="ml-2 cardHead">Orders yet to be shipped:
                    <p>
                        <%= ordersYetToBeShipped %>
                    </p>
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="ml-2 cardHead">Orders Delivered :
                    <p>
                        <%= ordersDelivered %>
                    </p>
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p class="ml-2 cardHead">Total Users :
                    <p>
                        <%= totalUsers %>
                    </p>
                    </p>
                </div>
            </div>
        </div>

    </section>
    <%- include('../../partials/loginsFooter') %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/javascripts/admin/adminDashboard/dashboard.js"></script>