<link rel="stylesheet" href="/stylesheets/users/header.css">
<div class="sub-nav navbar navbar-light bg-light justify-content-center ">
    <% allCategories.forEach(categories=>{ %>
        <div class="dropdown">
            <div class="dropbtn">
                <a class="category" href="#">
                    <%= categories.category %>
                </a>
                <div class="dropdown-content">
                    <p class="show-products">Shop By Product</p>
                    <a class="subCategory" href="/products/<%= categories.category %>/viewAll">View all</a>
                    <% categories.subCategory.forEach(subcategory=> { %>
                        <a class="subCategory" href="/products/<%= categories.category %>/<%= subcategory.name %>">
                            <%= subcategory.name %>
                        </a>
                        <% }) %>
                </div>
            </div>
        </div>
        <% }) %>

            <div class="search-wrapper">
                <div class="input-container">
                    <input class="search" type="search" id="search" placeholder="Search products...">
                    <div class="vertical-line"></div>
                    <img class="search-icon" src="/images/navbar/search.png" alt='search' onclick="search()">
                </div>
                <hr class="search-line" style="margin-top: 0 !important;" />
            </div>
</div>
<script src="/javascripts/users/search.js"></script>