<link rel="stylesheet" href="/stylesheets/users/orderDetails.css">
<link rel="stylesheet" href="/stylesheets/users/productDetails.css">

<%- include('../../partials/headers/homeHeader',{ totalCartProduct: totalCartProduct}) %>
    <%- include('../../partials/subHeader',allCategories) %>

        <section class="d-flex flex-column justify-content-around align-items-center orderpage">
            <div class="pageHead">
                <h2>Order Details</h2>
                <div class="d-flex ">
                    <p class="headp">Ordered on <%= new Date(order.createdAt).toLocaleDateString('en-US', {
                            month: 'short' , day: 'numeric' , year: 'numeric' }) %>
                    </p>
                    <hr class="horizontal-line">
                    <p class="headp">Order # <%= userReadableId %>
                    </p>
                </div>
                <hr>
            </div>
            <div class="ordercontainer">
                <div class="orderSctn">
                    <div class="d-flex flex-column order">
                        <div class="d-flex justify-content-around align-items-around orderHeadSctn">
                            <div class="d-flex flex-column ">
                                <p class="subHead">Shipping Address</p>
                                <p>
                                    <%= order.billingAddress[0].name %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].phone %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].address %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].town %> , <%= order.billingAddress[0].pincode %>
                                </p>
                                <p>
                                    <%= order.billingAddress[0].state %>
                                </p>
                            </div>

                            <div class="d-flex flex-column">
                                <p class="subHead">Payment Method</p>
                                <p>
                                    <%= order.paymentMethod %>
                                </p>

                            </div>

                            <div class="d-flex flex-column">
                                <p class="subHead">Order Summary</p>
                                <div class="d-flex justify-content-between">
                                    <p>Subtotal: </p>
                                    <p>₹<%= order.orderValue %>/-</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Shipping: </p>
                                    <p>₹0</p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p>Discount: </p>
                                    <p>
                                        <%= order.discount %> %
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="subHead">Grand Total: </p>
                                    <p class="subHead">₹<%= order.totalAmount %>/-</p>
                                </div>

                            </div>
                        </div>

                        <div class="d-flex justify-content-around align-items-center mt-2 prodctSctn">
                            <% order.products.forEach(product=> { %>
                                <div class="d-flex flex-wrap">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <a href="/products/<%= product.product._id %>">
                                            <img class="prodImg" src="/<%= product.product.image %>" alt="orderproduct">
                                        </a>
                                        <div>
                                            <p class="prodName">
                                                <%= product.product.name %>
                                            </p>
                                            <p class="prodName">
                                                ₹<%= product.product.price %>/-
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                    <div>
                                        <p class="prodName">Order Status</p>
                                        <p>Order: <%= order.orderStatus %>
                                        </p>
                                        <% if (order.orderStatus==='placed' ) { %>
                                            <p>Estimated delivery :
                                                <%= order.estimatedDelivery %>
                                            </p>
                                            <% } %>
                                    </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="viewProducts">
                <div class="cardHead">
                    <h3>Others Also Bought</h3>
                </div>
                <div class="cards-section ">
                    <% viewMoreProducts.forEach(product=>{%>
                        <div class="col-sm-3 mb-4">
                            <a href="/products/<%= product._id %>">
                                <div class="card mycard" style="width: 18rem;">
                                    <div>
                                        <img class="img-fluid img-thumbnail " src="/<%= product.image %>"
                                            alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%=product.name %>
                                        </h5>
                                        <p class="card-text">
                                            ₹ <%= product.price %>/-
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>
        <%- include('../../partials/footer') %>