<link rel="stylesheet" href="/stylesheets/admin/adminProducts.css">
<link rel="stylesheet" href="/stylesheets/admin/sales.css">

<%- include('../../partials/adminHeaders') %>

    <section>
        <div class="container">
            <p class="mt-4 mainTxt">Get the Sales Report on the Basis of :</p>
            <div class="buttons">
                <div class="btn-group" id="dailyDropdown">
                    <button class="btn  dropdown-toggle butonTxt" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Daily
                    </button>
                    <div class="dropdown-menu">
                        <p class="dropdown-item" onclick="getDailySales('today')">Today</p>
                        <p class="dropdown-item" onclick="getDailySales('yesterday')">Yesterday</p>
                        <div class="dropdown-divider"></div>
                        <div class="d-flex justify-content-around-">
                            <p class="dropdown-item" onclick="getDailySales('custom')">Customize</p>
                            <input type="date" id="dailyCustom"
                                onclick="clearSpan('dailyCustomSpan'); event.stopPropagation();">
                        </div>
                        <!-- <a class="dropdown-item d-flex justify-content-center" onclick="getDailySales('custom')">
                            <span>Apply</span></a> -->
                        <span id="dailyCustomSpan" class="span"></span>
                    </div>
                </div>

                <div class="btn-group" id="weeklyDropdown">
                    <button class="btn  dropdown-toggle butonTxt" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Weekly
                    </button>
                    <div class="dropdown-menu">
                        <p class="dropdown-item" onclick="getWeeklySales('thisWeek')">This Week</p>
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-item" onclick="getWeeklySales('custom')">Customize</p>
                        <div class="d-flex justify-content-around">                          
                            <a class="dropdown-item">StartPoint :</a> 
                            <input type="date" id="startPoint"
                            onclick="clearSpan('weaklyCustomSpan'); event.stopPropagation();">
                        </div>
                        <div class="d-flex justify-content-center">                          
                            <a class="dropdown-item">EndPoint :</a> 
                             <input type="date" id="endPoint"
                              onclick="clearSpan('weaklyCustomSpan'); event.stopPropagation();">
                          </div>
                    </div>
                </div>

                <div class="btn-group" id="yearlyDropdown">
                    <button class="btn  dropdown-toggle butonTxt" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Yearly
                    </button>
                    <div class="dropdown-menu">
                        <p class="dropdown-item" onclick="getYearlySales('thisYear')">This Year</p>
                        <p class="dropdown-item" onclick="getYearlySales('lastYear')">Last Year</p>
                        <div class="dropdown-divider"></div>
                        <div class="d-flex justify-content-around-">
                            <p class="dropdown-item" onclick="getYearlySales('custom')">Customize</p>
                            <input type="number" id="yearInput">
                        </div>
                    </div>
                </div>

            </div>
            <p class="mainTxt">Export as:</p>
            <div class="table-responsive">
                <% if (salesList && Array.isArray(salesList)) { %>
                    <table class="table table-striped" id="salesTable">
                        <thead>
                            <tr>
                                <th scope="col" class="tno">No</th>
                                <th scope="col" class="thead">Products</th>
                                <th scope="col" class="ttitle">Total Count</th>
                                <th scope="col" class="thead">Total Earnings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% salesList.forEach((list, index)=> { %>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td id="products">
                                        <%= (list ? list.productName : '' ) %>
                                    </td>
                                    <td id="totalCount">
                                        <%= (list ? list.count : 0) %>
                                    </td>
                                    <td id="earnings">
                                        <%= (list ? '₹ ' + (list.count * (list.productPrice[0] ||
                                            0)).toLocaleString('en-IN') : '₹0' ) %>

                                    </td>

                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>No sales data available.</p>
                        <% } %>
            </div>

            <div class="overviewCard mt-4">
                 <div class="d-flex justify-content-center align-items-center">
                <p>Orders Placed : <p><%= (dailySales[0] ? dailySales[0].totalOrder : 0) %></p>
                </p>
                </div>
                 <div class="d-flex justify-content-center align-items-center">
                <p>Orders Delivered : <p><%= (dailySales[1] ? dailySales[1].totalDelivery : 0) %></p>
                </p>
                </div>
                 <div class="d-flex justify-content-center align-items-center">
                <p>Total Earnings : <p><%= (totalEarnings ? '₹ ' + totalEarnings.toLocaleString('en-IN') : '₹0' ) %></p>
                </p>
                </div>

            </div>
        </div>

    </section><br><br><br><br><br>
    <%- include('../../partials/loginsFooter') %>
        <script src="/javascripts/admin/sales.js"></script>
        <script>
            var currentYear = new Date().getFullYear();

            document.getElementById('yearInput').value = currentYear;
        </script>