<link rel="stylesheet" href="/stylesheets/users/cart.css">
<link rel="stylesheet" href="/stylesheets/users/productDetails.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<% if (user) { %>
    <%- include('../../partials/headers/homeHeader',{ totalCartProduct: totalCartProduct}) %>
        <%} else{ %>
            <%- include('../../partials/headers/header') %>
                <% } %>
                    <%- include('../../partials/subHeader',allCategories) %>

                        <!--  -->
                        <section class="cartPage">
                            <!--  -->
                            <% if (cartProducts) { %>
                                <div class="d-flex justify-content-around cartsctn">
                                    <div class="cartProducts">
                                        <% cartProducts.forEach(cartProduct=> { %>
                                            <div class="mt-4">
                                                <div class="d-flex justify-content-around">
                                                    <a href="/products/<%= cartProduct.product._id %>"><img
                                                            class="prodImg" src="/<%= cartProduct.product.image %>"
                                                            alt="product"></a>
                                                    <div class="prodDetails">
                                                        <div class="head">
                                                            <%= cartProduct.product.name %>
                                                                <img class="remove" src="/images/home/remove.png"
                                                                    alt="remove"
                                                                    onclick="removeProduct('<%= cartProduct.product._id %>','<%= user._id %>','<%= cartProduct.Size %>','<%= cartProduct.Count %>')">
                                                        </div>
                                                        ₹ <%= cartProduct.product.price %>/-
                                                            <div class="subDetails">
                                                                <p>Product.no.: <%= cartProduct.product._id %>
                                                                </p>
                                                                <p>Size: <%= cartProduct.Size %>
                                                                </p>
                                                                <p>Total: ₹ <%= cartProduct.product.price %>/-
                                                                </p>
                                                                <% if (cartProduct.stock==='limited stock' ) { %>
                                                                    <p class="stock">Limited Stock. Buy Now !!!</p>
                                                                    <% }else if(cartProduct.stock==='out of stock' ){%>
                                                                        <p class="stock">Out of Stock.</p>
                                                                        <% } %>
                                                            </div>
                                                            <div class="mt-4 d-flex">
                                                                <button type="button"
                                                                    class="btn btn-outline-dark bttn"><img
                                                                        class="wishlisht"
                                                                        src="/images/navbar/wishlist.png"
                                                                        alt=""></button>
                                                                <div class="counter-btn ml-4">
                                                                    <% if ( cartProduct.Count !==1){ %>
                                                                        <button type="button"
                                                                            class="btn btn-outline-dark bttn"
                                                                            onclick="decrementCount('<%= cartProduct.product._id %>','<%= cartProduct.Size %>')">-</button>
                                                                        <% }%>
                                                                            <button type="button"
                                                                                class="btn btn-outline-dark bttn count ml-1"
                                                                                disabled>
                                                                                <%= cartProduct.Count %>
                                                                            </button>
                                                                            <button type="button"
                                                                                class="btn btn-outline-dark bttn"
                                                                                onclick="incrementCount('<%= cartProduct.product._id %>','<%= cartProduct.Size %>')">+</button>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <!-- purchase -->
                                    <div class="purchase">
                                        <div class="purchase-box sticky-top">
                                            <div class="purchaseOptns">
                                                <div class="d-flex justify-content-between">
                                                    <p>Discounts</p>
                                                    <p>Apply discounts</p>
                                                </div>
                                                <hr>
                                                <div class=" d-flex justify-content-between">
                                                    <p class="boldTxt">Total</p>
                                                    <p class="boldTxt">₹ <%= totalprice %> /-</p>
                                                </div>
                                                <a href="/checkout" type="button" class="btn btn-secondary purchasebtn">
                                                    Continue to
                                                    Checkout </a>
                                                <p class="darkHeads">We accept</p>
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <p class="paytxt">Cash On Delivery</p>
                                                    <img src="/images/home/visa.png" alt="">
                                                    <img src="/images/home/rupay.png" alt="">
                                                    <p class="paytxt">EMI</p>
                                                    <img src="/images/home/gpay.png" alt="">
                                                </div>
                                                <p class="mt-4">
                                                    Prices and delivery costs are not confirmed until you've reached the
                                                    checkout.</p>
                                                <p>15 days free returns. Read more about return and refund policy.
                                                    Customers would receive an SMS/WhatsApp notifications regarding
                                                    deliveries on the registered phone number
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--  -->
                                <% } else { %>
                                    <div class="d-flex justify-content-around cartsctn">
                                        <div class="emptyCart">
                                            <img class="emptyImg" src="/images/home/emptyCart.svg" alt="">
                                            <div class="emptydetails ml-4">
                                                <h3 class="emptyHead">Your Shopping Bag is Empty</h3>

                                                <a href="/" type="button" class="btn btn-dark cartbtn">Continue
                                                    Shopping</a>

                                            </div>
                                        </div>
                                        <div class="purchase">
                                            <div class="purchase-box">
                                                <div class="d-flex justify-content-between">
                                                    <p>Discounts</p>
                                                    <a href="">Apply discounts</a>
                                                </div>
                                                <hr>
                                                <div class=" d-flex justify-content-between">
                                                    <p class="boldTxt">Total</p>
                                                    <p class="boldTxt">Rs. 0.00</p>
                                                </div>
                                                <button type="button" class="btn btn-secondary purchasebtn" disabled>
                                                    Continue to
                                                    Checkout </button>
                                                <p class="darkHeads">We accept</p>
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <p class="paytxt">Cash On Delivery</p>
                                                    <img src="/images/home/visa.png" alt="">
                                                    <img src="/images/home/rupay.png" alt="">
                                                    <p class="paytxt">EMI</p>
                                                    <img src="/images/home/gpay.png" alt="">
                                                </div>
                                                <p class="mt-4">
                                                    Prices and delivery costs are not confirmed until you've reached the
                                                    checkout.</p>
                                                <p>15 days free returns. Read more about return and refund policy.
                                                    Customers would receive an SMS/WhatsApp notifications regarding
                                                    deliveries on the registered phone number
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <br><br>
                                        <!--  -->
                                        <div class="viewProducts">
                                            <div class="cardHead">
                                                <p class="othersAlsoTxt">Others Also Bought</p>
                                            </div>
                                            <div class="cards-section ">
                                                <% viewMoreProducts.forEach(product=>{%>
                                                    <div class="col-sm-3 mb-4">
                                                        <a href="/products/<%= product._id %>">
                                                            <div class="card" style="width: 15rem;">
                                                                <div>
                                                                    <img class="img-fluid img-thumbnail "
                                                                        src="/<%= product.image %>"
                                                                        alt="Card image cap">
                                                                </div>
                                                                <div class="card-body">
                                                                    <h5 class="card-title">
                                                                        <%=product.name %>
                                                                    </h5>
                                                                    <p class="card-text">
                                                                        ₹ <%= product.price %>/-
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                        </div>

                        </section>

                        <%- include('../../partials/footer') %>
                            <script src="/javascripts/users/cart.js"></script>