<link rel="stylesheet" href="/stylesheets/admin/adminProducts.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<%- include('../../../partials/adminHeaders') %>
<% var count=1; %>

<section>
    <div class="container">
        <div class="subHead">
            <a type="button" href="/admin/addCategory" class="btn btn-info ml-auto addButton" style="width: 7.5rem;">Add Category</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" id="productsTable">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category</th>
                        <th scope="col">SubCategory</th>
                        <th scope="col">Status</th>
                        <th scope="col">Offers</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach((category, index)=> { %>
                        <tr>
                            <th scope="row">
                                <%= index + 1 %>
                            </th>
                           
                            <td>
                                <%= category.category %>
                            </td>
                            <td>
                                <% category.subCategory.forEach((item)=> { %>
                                    <div class="d-flex">
                                    <p>
                                        <%= item.name %>
                                    </p>
                                    <p class="ml-3" onclick="editSubcategory('<%= item.name %>','<%= category.category %>')">
                                        <img src="/images/navbar/edit.png" alt="edit" style="width: 1rem;">
                                    </p>
                                </div>
                                <% }) %>
                            </td>
                            <td>
                                <% category.subCategory.forEach((item)=> { %>
                                    <% if (item.isDeleted) { %>
                                        <div class="d-flex">
                                        <p>Deleted</p>
                                        <p class="ml-3" onclick="undoSubcategoryDelete('<%= item.isDeleted %>',
                                        '<%= item.name %>','<%= category.category %>')">
                                                <img src="/images/navbar/undo.png" alt="edit" style="width: 1rem;">
                                        </p>
                                        </div>
                                    <% } else { %>
                                        <div class="d-flex">
                                        <p>Available </p><p class="ml-3" onclick="deleteCategory('<%= item.name %>','<%= category.category %>')">
                                            <img style="width: 1.2rem;" src="/images/navbar/delete.png" alt="delete">
                                        </p>
                                    </div>
                                    <% } %>
                                <% }) %>
                            </td>
                            
                            <td>
                                <% category.subCategory.forEach((item)=> { %>
                                    <div class="d-flex">
                                    <p>
                                        <%= item.discount %>%
                                    </p>
                                    <a class="ml-3" href="/admin/category/offer/<%= category.category %>/<%= item.name %>" >
                                                <img src="/images/navbar/edit.png" alt="edit" style="width: 1rem;">
                                    </a>
                                </div>
                                <% }) %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
   

</section>
<%- include('../../../partials/loginsFooter') %>
<script src="/javascripts/admin/categoryDlt.js"></script>
