<link rel="stylesheet" href="/stylesheets/admin/updates.css">
<%- include('../../../partials/headers/adminHeaders') %>

    <div class="row align-items-center justify-content-center">
        <div class="addForm">
            <h2 class="head">Edit Subcategory Offer</h2>
            <!-- name -->

            <!-- category -->
            <label class="label" for="category">Category</label>
            <input type="text" class="form-control" value="<%= categoryDetails.category%>" disabled>
          
            <!-- subcategory -->
            <label class="label" for="subCategory">SubCategory</label>
            <input type="text" class="form-control" value="<%= categoryDetails.subCategory[0].name%>" disabled>

            <label class="label" for="stock">Offer<span class="required">*</span></label>
            <input onclick="clearValidity('offer'); clearSpan('offerSpan')" onblur="isValidPrice('offer')" type="text"
                class="form-control" name="offer" id="offer" value="<%= categoryDetails.subCategory[0].discount%>" >
            <span id="offerSpan" class="span"></span>

            <div class="button">
                <button class="addProduct_button btn btn-success btn-lg btn-block" type="button"
                    onclick="editCategoryOffer('<%= categoryDetails.category%>',
                    '<%= categoryDetails.subCategory[0].name%>')">Edit</button>
            </div>
        </div>
    </div>

    <%- include('../../../partials/loginsFooter') %>
    <script src="/javascripts/admin/offer.js"></script>