<link rel="stylesheet" href="/stylesheets/users/checkout.css">


<section class="checkoutSctn">
    <div class="headsctn">
        <%- include('../partials/loginHeader') %>
            <p class="head">Checkout</p>
    </div>
    <div class="d-flex justify-content-around checkout">
        <div class="checkoutDetails">

            <!-- billing address -->
            <div class="billingAddress">
                <p class="boldTxt">Billing address</p>
                <!--  -->
                <% if (user.billingAddress && user.billingAddress.length> 0) { %>
                    <% user.billingAddress.forEach(address=> { %>
                        <div class="readonly mt-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selectedPayment" value="option1"
                                    onclick="selectedAddress('<%= user._id %>','<%= address.name %>','<%= address.phone %>'
                                    ,'<%= address.address %>','<%= address.town %>','<%= address.pincode %>','<%= address.state %>')">
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-check-label normalTxt" for="exampleRadios1">
                                            Name: <%= address.name %>
                                        </label>
                                        <div>
                                            <img src="/images/navbar/edit.png" style="width: 1rem;" alt="edit"
                                                onclick="editBillingAdress('<%= address._id %>')">
                                            <img src="/images/navbar/delete.png" style="width: 1rem;" alt="edit"
                                                class="ml-4" onclick="deleteBillingAdress('<%= address._id %>')">
                                        </div>
                                    </div>
                                    <p class="normalTxt">Phone: <%= address.phone %>
                                    </p>
                                    <p class="normalTxt">Address: <%= address.address %>
                                    </p>
                                    <p class="normalTxt">Town/City: <%= address.town %>
                                    </p>
                                    <p class="normalTxt">Pincode: <%= address.pincode %>
                                    </p>
                                    <p class="normalTxt">State: <%= address.state %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <hr>
                            <p class="addAddress" id="add" onclick="addAddress()">+ Add address</p>
                            <!--else case  -->
                            <%} else{ %>
                                <p class="addAddress" id="add" onclick="addAddress()">+ Add address</p>
                                <% } %>
                                    <!-- add address -->
                                    <div class="addAddress" style="display: none;">
                                        <div>
                                            <label class="mt-3 label" for="name">Name <span
                                                    class="required">*</span></label>
                                            <input onclick="clearSpan('nameSpan');clearValidity('name')"
                                                onblur="ifValid('name')" type="text" id="name" class="form-control"
                                                name="'name" aria-describedby="addressHelpBlock">
                                            <span id="nameSpan" class="span"></span><br>
                                            <!--  -->
                                            <label class="label" for="phone">Phone number <span
                                                    class="required">*</span></label>
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                onclick="clearSpan('phoneSpan');clearValidity('phone')"
                                                onblur="checkPhone()">
                                            <span id="phoneSpan" class="span"></span><br>
                                            <!--  -->
                                            <label class="label" for="address">Address <span
                                                    class="required">*</span></label>
                                            <input onclick="clearSpan('addressSpan');clearValidity('address')"
                                                onblur="checkAddress()" type="text" id="address" class="form-control"
                                                name="address" aria-describedby="addressHelpBlock">
                                            <div class="d-flex flex-column">
                                                <small class="form-text text-muted">
                                                    Street address
                                                </small>
                                                <span id="addressSpan" class="span"></span>
                                            </div>


                                            <!--  -->
                                            <label class="mt-3 label" for="town">Town/City <span
                                                    class="required">*</span></label>
                                            <input onclick="clearSpan('townSpan');clearValidity('town')"
                                                onblur="ifValid('town')" type="text" id="town" class="form-control"
                                                name="town" aria-describedby="passwordHelpBlock">
                                            <div class="d-flex flex-column">
                                                <small class="form-text text-muted">
                                                    Enter a town/city
                                                </small>
                                                <span id="townSpan" class="span"></span>
                                            </div>


                                            <!--  -->
                                            <label class="mt-3 label" for="pincode">Pincode <span
                                                    class="required">*</span></label>
                                            <input onclick="clearSpan('pincodeSpan');clearValidity('pincode')"
                                                onblur="checkPincode()" type="text" id="pincode" class="form-control"
                                                name="pincode" aria-describedby="passwordHelpBlock">

                                            <div class="d-flex flex-column">
                                                <small id="pincodeMute" class="form-text text-muted">
                                                    Please enter a pincode (400070)
                                                </small>
                                                <span id="pincodeSpan" class="span"></span>
                                            </div>
                                            <!--  -->
                                            <label class="mt-3 label" for="state">State <span
                                                    class="required">*</span></label>
                                            <select name="state" id="state" class="form-control">
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                                                </option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                <option value="Daman and Diu">Daman and Diu</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Puducherry">Puducherry</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center">
                                            <button type="button" class="btn btn-dark save"
                                                onclick="saveBillingAddress('<%= user._id %>')">Save</button>
                                                <a href="/checkout" type="button" class="btn btn-outline-dark save mt-3">Cancel</a>
                                        </div>
                                    </div>


                   <!-- edit billingaddress -->
                   <div class="editable" style="display: none;">
                    <p class="darkHeads">Enter your billing address</p>
                    <div>
                        <label class="mt-3 label" for="name">Name <span
                                class="required">*</span></label>
                        <input onclick="clearSpan('name_editSpan');clearValidity('name_edit')"
                            onblur="ifValid('name_edit')" type="text" id="name_edit" class="form-control"
                            name="'name" aria-describedby="addressHelpBlock">
                        <span id="name_editSpan" class="span"></span><br>

                        <!-- phone -->
                        <label class="label" for="phone">Phone number <span
                                class="required">*</span></label>
                        <input type="text" class="form-control" name="phone" id="phone_edit"
                            onclick="clearSpan('phone_editSpan');clearValidity('phone_edit')"
                            onblur="checkPhone()">
                        <span id="phone_editSpan" class="span"></span><br>

                        <!-- address -->
                        <label class="label" for="address">Address <span
                                class="required">*</span></label>
                        <input onclick="clearSpan('address_editSpan');clearValidity('address_edit')"
                            onblur="checkAddress()" type="text" id="address_edit"
                            class="form-control" name="address" aria-describedby="addressHelpBlock">
                        <div class="d-flex flex-column">
                            <small class="form-text text-muted">
                                Street address
                            </small>
                            <span id="address_editSpan" class="span"></span>
                        </div>

                        <!-- town/city -->
                        <label class="mt-3 label" for="town">Town/City <span
                                class="required">*</span></label>
                        <input onclick="clearSpan('town_editSpan');clearValidity('town_edit')"
                            onblur="ifValid('town_edit')" type="text" id="town_edit" class="form-control"
                            name="town" aria-describedby="passwordHelpBlock">
                        <div class="d-flex flex-column">
                            <small class="form-text text-muted">
                                Enter a town/city
                            </small>
                            <span id="town_editSpan" class="span"></span>
                        </div>


                        <!-- pincode -->
                        <label class="mt-3 label" for="pincode">Pincode <span
                                class="required">*</span></label>
                        <input onclick="clearSpan('pincode_editSpan');clearValidity('pincode_edit')"
                            onblur="checkPincode()" type="text" id="pincode_edit"
                            class="form-control" name="pincode"
                            aria-describedby="passwordHelpBlock">

                        <div class="d-flex flex-column">
                            <small id="pincodeMute" class="form-text text-muted">
                                Please enter a pincode (400070)
                            </small>
                            <span id="pincode_editSpan" class="span"></span>
                        </div>
                        <!--  -->
                        <label class="mt-3 label" for="state">State <span
                                class="required">*</span></label>
                        <select name="state" id="state_edit" class="form-control" value>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands
                            </option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <button type="button" class="btn btn-dark save"
                            onclick="updateBillingAddress()">Save</button>
                            <a href="/checkout" type="button" class="btn btn-outline-dark save mt-3">Cancel</a>
                    </div>
                </div>
            </div>

            <!--view order details  -->
            <div class="viewOrderDetails">
                <div class="orderSectn">
                    <p class="boldTxt viewOrder">View Order Details</p>
                    <div class="d-flex justify-content-between">
                        <p class="darkHeads"><img class="parcelbox" src="/images/home/box.png" alt="parcel"> Parcel</p>
                        <p class="darkHeads">Shipped by TrioCart</p>
                    </div>
                    <div class="d-flex flex-wrap ">
                        <% cartProducts.forEach(cartProduct=> { %>
                            <div class="mt-4 ml-2">
                                <img class="prodImg" src="/<%= cartProduct.product.image %>" alt="cartproduct">
                                <p class="mt-2 darkHeads">Count : <%= cartProduct.Count %>
                                </p>
                            </div>
                            <% }) %>
                    </div>

                    <div class="delivery" style="display: none;">
                        <p class="darkHeads"><img src="/images/home/home.png" alt="Home"> Standard Delivery</p>
                        <div class="deliveryDetails">
                            <p class="normalTxt mt-3" id="delvryName"></p>
                            <p class="normalTxt" id="delvryPhone"></p>
                            <p class="normalTxt" id="delvryAddress"></p>
                            <p class="normalTxt" id="delvryPincodeTown"></p>
                            <p class="normalTxt" id="delvryState"></p>
                            <div class="d-flex">
                                <p class="normalTxt mt-3"><img src="/images/home/coins.png" style="width: 1rem;"
                                        alt="coins"> FREE</p>
                                <p class="normalTxt mt-3 ml-4"><img src="/images/home/truck.png" style="width: 1rem;"
                                        alt="public"> 3-9 Days</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="payment">
                <p class="boldTxt">Payment</p>
                <p class="darkHeads">How would you like to pay?</p>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="selectedPayment" id="cod" value="option1"
                        onclick="paymentSelected('COD')">
                    <label class="form-check-label" for="exampleRadios1">
                        Cash On Delivery
                    </label>
                </div>
                <hr>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="selectedPayment" id="onlinePayment"
                        value="option2" disabled onclick="paymentSelected('onlinePayment')">
                    <div class="d-flex justify-content-between">
                        <label class="form-check-label" for="exampleRadios3">
                            Online Payments
                        </label>
                        <div>
                            <img src="/images/home/visa.png" alt="visa">
                            <img src="/images/home/rupay.png" alt="rupay">
                            <p class="paytxt"><img src="/images/home/gpay.png" alt="gpay"> EMI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- purchase -->
        <div class="purchase">
            <div class="purchase-box">
                <div class="d-flex justify-content-between">
                    <p>Discounts</p>
                    <a href="">Apply discounts</a>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <p>Order value</p>
                    <p class="darkHeads mt-0">₹ <%= totalprice %> /-</p>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p>Delivery</p>
                    <p class="darkHeads mt-0">₹ <%= totalprice %> /-</p>
                </div>
                <hr>
                <div class=" d-flex justify-content-between">
                    <p class="boldTxt">Total</p>
                    <p class="boldTxt">₹ <%= totalprice %> /-</p>
                </div>

                <p class="mt-4">
                    By continuing, you agree to <a href="">TrioCart's General Terms and Conditions.</a></p>
                <p class="mt-3">We will process your personal data in accordance with the TrioCarts <a href="">Privacy
                        Notice</a>
                    .
                </p>
                <div class="d-flex justify-content-center mt-4">
                    <button type="button" class="btn checkoutBtn" id="checkoutBtn" disabled
                        style="width: 25rem;max-width: 100%;"
                        onclick="purchase('<%= user._id %>','<%= totalprice %>')">Almost Done</button>
                </div>
                <p class="mt-3">Need help? Please contact <a href="">Customer Service</a>
                    .
                </p>
            </div>
        </div>

    </div>
    <br><br><br>
</section>
<script src="/javascripts/users/checkout.js"></script>