<link rel="stylesheet" href="/stylesheets/users/productDetails.css">
<% if (user) { %>
    <%- include('../../partials/homeHeader',{ totalCartProduct: totalCartProduct}) %>
        <%} else{ %>
            <%- include('../../partials/header') %>
                <% } %>
                    <%- include('../../partials/subHeader',allCategories) %>
                        <section class="product-sctn d-flex flex-column justify-content-around">
                            <!-- product images -->
                            <div class="d-flex justify-content-around mt-4">
                                <div class="images mt-4">
                                    <img class="image" src="/<%= product.image %>" alt=""
                                        onclick="openImagePreview('<%= product.image %>')">
                                    <% product.detailedImages.forEach(detailedImage=>{ %>
                                        <img class="image" src="/<%= detailedImage %>" alt=""
                                            onclick="openImagePreview('<%= detailedImage %>')">
                                        <% })%>
                                </div>

                                <!-- image preview -->
                                <div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog"
                                    aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="imagePreviewModalLabel">Image Preview</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img class="d-block w-100" id="previewedImg" src="" alt=""
                                                    style="max-width: 90%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- product details -->
                                <div class="details">
                                    <div class="d-flex justify-content-end mr-4 "><img src="/images/navbar/wishlist.png"
                                            class="wishlist" alt="wishlist"></div>
                                    <h3>
                                        <%=product.name %>
                                    </h3>

                                    <p class="subHead">MRP inclusive of all taxes :- </p>
                                    <p class="subHead">
                                        ₹ <%= product.price %>/-
                                    </p>
                                    <p class="subHead">Sizes</p>
                                    <% sizesArray=product.size[0].split(','); sizesArray.forEach(size=> { %>
                                        <button type="button" class="btn btn-outline-dark" id="btn<%= size %>"
                                            onclick="selectedSize('<%= size %>'); clearSpan('addCart')">
                                            <%= size.trim() %>
                                        </button>
                                        <% }) %>
                                            <span id="addCart" class="addCart"></span>
                                            <div class="mt-4">
                                                <button onclick="addToCart('<%= product._id %>')" type="button"
                                                    class="btn btn-dark btns" id="addToCart">
                                                    <img class="cart" src="/images/navbar/addCart.png" alt="img">Add
                                                </button>
                                            </div>

                                            <div class="mt-4">
                                                <p>Description & Fit</p>
                                                <p><%=product.description %>.trim()
                                                </p>
                                            </div>
                                </div>
                            </div>
                            <!-- <h4 class="d-flex justify-content-start mt-4" style="margin-left: 5.2rem;">Others also bought</h4> -->
                            <div class="viewProducts">
                                <div class="cardHead">
                                    <h3>Others Also Bought</h3>
                                </div>
                                <div class="cards-section ">
                                    <% viewMoreProducts.forEach(product=>{%>
                                        <div class="col-sm-3 mb-4">
                                            <a href="/products/<%= product._id %>">
                                                <div class="card mycard" style="width: 18rem;">
                                                    <div>
                                                        <img class="img-fluid img-thumbnail "
                                                            src="/<%= product.image %>" alt="Card image cap">
                                                    </div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <%=product.name %>
                                                        </h5>
                                                        <p class="card-text">
                                                            ₹ <%= product.price %>/-
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </section>
                        <%- include('../../partials/footer') %>
                            <script src="/javascripts/users/productDetails.js"></script>