<link rel="stylesheet" href="/stylesheets/admin/adminProducts.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<%- include('../../partials/headers/adminHeaders') %>

    <section>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col" class="tno">No</th>
                            <th scope="col" class="thead">Name</th>
                            <th scope="col" class="thead">Description</th>
                            <th scope="col" class="ttitle">Cashback</th>
                            <th scope="col" class="thead">Status</th>
                            <th scope="col" class="thead">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cashbacks.forEach((cashback, index)=> { %>
                            <tr>
                                <th scope="row">
                                    <%= index + 1 %>
                                </th>
                                <td>
                                    <%= cashback.name%>
                                </td>
                                <td>
                                    <%= cashback.description%>
                                </td>
                                <td>
                                    ₹ <%= cashback.cashBack%>
                                </td>
                                <td>
                                    <% if (cashback.isValid===false) { %>
                                        <div class="d-flex">
                                            <p>Inactive</p>
                                            <p class="ml-2"
                                                onclick="undoCashbackDelete('<%= cashback._id %>','<%= cashback.name%>')">
                                                <img src="/images/navbar/undo.png" alt="edit" style="width: 1rem;"
                                                    id="undoCashbackDlt">
                                            </p>
                                        </div>
                                        <%} else{ %>
                                            <div class="d-flex">
                                                <p>Active</p>
                                                <p class="ml-2"
                                                    onclick="deleteCashback('<%= cashback._id %>','<%= cashback.name%>')">
                                                    <img style="width: 1.2rem;" src="/images/navbar/delete.png"
                                                        alt="delete">
                                                </p>
                                            </div>
                                            <% } %>
                                </td>
                                <td><a href="/admin/cashback/<%= cashback._id %>"><img src="/images/navbar/edit.png"
                                            alt="edit" style="width: 1rem;"></a> </td>

                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="/javascripts/admin/adminCashback.js"></script>
    <script src="/javascripts/admin/adminCoupons.js"></script>