<link rel="stylesheet" href="/stylesheets/admin/updates.css">
<%- include('../../partials/headers/adminHeaders') %>

    <div class="row align-items-center justify-content-center">
        <div class="addForm">
            <h2 class="head">Edit Cashback</h2>
            <!-- name -->
            <label class="label" for="name">Name</label>
            <input type="text" class="form-control" value="<%= cashback[0].name %>" readonly>

            <label class="label" for="name">Description</label>
            <input type="text" class="form-control" value="<%= cashback[0].description %>" readonly>

            <label class="label" for="category">Discount <span class="required">*</span></label>
            <input type="text" class="form-control" name="cbdiscountEdit" id="cbdiscountEdit"
                onclick="clearValidity('cbdiscountEdit'); clearSpan('cbdiscountEditSpan')"
                onblur="isValidPrice('cbdiscountEdit')" value="<%= cashback[0].cashBack %>">
            <span id="cbdiscountEditSpan" class="span"></span>

            <div class="button">
                <button class="addProduct_button btn btn-success btn-lg btn-block" type="button"
                    onclick="editCashback('<%= cashback[0]._id %>')" style="width: 15rem;">Edit</button>
            </div>
        </div>
    </div>
    <%- include('../../partials/loginsFooter') %>
        <script src="/javascripts/admin/adminCashback.js"></script>
        <script src="/javascripts/admin/adminCoupons.js"></script>