<link rel="stylesheet" href="/stylesheets/users/productList.css">
<link rel="stylesheet" href="/stylesheets/users/cart.css">

<% if (user) { %>
    <%- include('../partials/headers/homeHeader',{ totalCartProduct: totalCartProduct}) %>
        <%} else{ %>
            <%- include('../partials/headers/header') %>
                <% } %>
                    <%- include('../partials/subHeader',allCategories) %>
                        <section class="productsSctn d-flex justify-content-between ">
                            <%- include('../partials/searchSideBar') %>

                                <% if (searchProducts && searchProducts.length> 0) { %>
                                    <div class="cards-section">
                                        <% searchProducts.forEach(product=>{%>
                                            <div class="col-sm-3 mb-4">
                                                <a href="/products/<%= product._id %>">
                                                    <div class="card mycard">
                                                        <div>
                                                            <img class="img-fluid img-thumbnail "
                                                                src="/<%= product.image %>" alt="Card image cap">
                                                        </div>
                                                        <div class="card-body" style="width: 18rem;">
                                                            <h5 class="card-title">
                                                                <%=product.name %>
                                                            </h5>
                                                            <p class="card-text">
                                                                ₹ <%= product.price %>/-
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <% }) %>
                                                <!-- Adding pagination controls -->
                                                <div
                                                    class="d-flex justify-content-center align-items-center searchPagination mt-4">
                                                    <nav aria-label="Page navigation">
                                                        <ul class="pagination d-flex justify-content-center align-items-center">
                                                            <li
                                                                class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                                                <a class="page-link"
                                                                    href="/search?page=<%= currentPage - 1 %>"
                                                                    aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                    <span class="sr-only">Previous</span>
                                                                </a>
                                                            </li>
                                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                                <li
                                                                    class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                                    <a class="page-link" href="/search?page=<%= i %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <li
                                                                        class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                                                        <a class="page-link"
                                                                            href="/search?page=<%= currentPage + 1 %>"
                                                                            aria-label="Next">
                                                                            <span aria-hidden="true">&raquo;</span>
                                                                            <span class="sr-only">Next</span>
                                                                        </a>
                                                                    </li>
                                                        </ul>
                                                    </nav>
                                                </div>

                                    </div>
                                    <%} else{ %>
                                        <div class="emptyCart">
                                            <img class="emptyImg" src="/images/home/emptyCart.svg" alt="">
                                            <div class="d-flex flex-column justify-content-center align-items-center ">
                                                <h3 class="emptyHead">Product not found</h3>

                                                <a href="/" type="button" class="btn btn-dark cartbtn"
                                                    style="width: 20rem;">Continue
                                                    Shopping</a>

                                            </div>
                                            <% } %>

                        </section>
                        <%- include('../partials/footer') %>